<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> 
    </ion-buttons>
    <div class="ion-text-center">
    <ion-title>
      Επιλέξτε Πελάτη
    </ion-title>
    </div>
    <ion-icon name="power-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="ion-text-end">
          <p>Andreas Vasdekis</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="5" offset-sm="4">
        <ion-searchbar showCancelButton="focus"></ion-searchbar>
      </ion-col>

      <ion-col size-sm="1" offset-sm="2" >
          <ion-img src="assets/img/3.png"></ion-img>
      </ion-col> 
    </ion-row>

    <!--<tr *ngFor="let customer of customersArray"><td>{{customer.phone}}</td></tr>-->

    <ion-row>
      <ion-col  size-sm="5" offset-sm="4">
        <div class="ion-text-center">
          <ion-list>
          <!--we use slice to get the non loaded places-->
          <ion-item *ngFor="let customer of customersArray"> <!--it is the little arrow in the right of each item-->
            <ion-label>
              <h2>{{customer.contactName}}  {{customer.phone}}</h2>
              <p>{{customer.address}}, {{customer.postalCode}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        </div>
      </ion-col>

    </ion-row>

   

    



</ion-grid>
</ion-content>
